footer {
    text-align: center;
    color: gray;
    background-color: #e3f2fd;
font-size: small;
  }

  body {

    background-color: #e3f2fd;
  }
  header {

    text-align: left;
    background-color: #e3f2fd;
    color: gray;
    font-size:xx-small;

  }

  .accordion-button.collapsed {
    background: rgb(209, 228, 255)
  }
  